.App {
	font-family: Arial, Helvetica, sans-serif;
	width: 99vw;
	height: 99vh;
	background: #e4e1e1;
}

.display {
	/* padding: 40px 5px 30px; */
	height: 20%;
	font-size: 60px;
	margin-bottom: 20px;
	font-weight: 300;
	text-align: right;
	line-height: 180px;
	padding-right: 5px;
}

.buttons {
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	margin: auto;
	height: 76%;
	width: 99%;
}

@media screen and (min-width: 1024px) {
	.display {
		font-size: 120px;
	}
}

@media screen and (min-width: 1280px) {
	.display {
		font-size: 60px;
	}

	.App {
		width: 500px;
		height: 600px;
		margin: auto;
	}
}
