.button {
	background: #fcfafae3;
	/* 	width: 85px;
		height: 70px; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
}

.button:hover {
	background-color: #d6d2d2;
	box-shadow: 2px 2px 3px #cac6c6;
}

.button:active {
	background-color: #cac6c6;
}

.button.functionOrOperator {
	background: #eeedede3;
}

.button.functionOrOperator:hover {
	background-color: #d6d2d2;
	box-shadow: 2px 2px 3px #cac6c6;
}

.button.functionOrOperator:active {
	background-color: #cac6c6;
}

.button.equals {
	background-color: #9cb9e4;
}

.button.equals:hover {
	background-color: #558cdd;
	box-shadow: 2px 2px 3px #cac6c6;
}

.button.equals:active {
	background-color: #3579df;
}

@media screen and (min-width: 1280px) {
	.button {
		width: 122px;
		height: 89px;
		font-size: 25px;
	}
}
